*.env filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/.bin/mime filter=lfs diff=lfs merge=lfs -text
*.cmd filter=lfs diff=lfs merge=lfs -text
*.ps1 filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/@mongodb-js/saslprep/LICENSE filter=lfs diff=lfs merge=lfs -text
*.mjs filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/@types/webidl-conversions/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/@types/whatwg-url/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/accepts/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/array-flatten/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/body-parser/LICENSE filter=lfs diff=lfs merge=lfs -text
*.cjs filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/bytes/LICENSE filter=lfs diff=lfs merge=lfs -text
*.eslintrc filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.nycrc filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/call-bind-apply-helpers/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/call-bound/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/content-disposition/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/content-type/LICENSE filter=lfs diff=lfs merge=lfs -text
*.npmignore filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/cookie/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/debug/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/debug/Makefile filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/depd/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/destroy/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/dotenv/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/dunder-proto/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/ee-first/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/encodeurl/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/es-define-property/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/es-errors/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/es-object-atoms/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/escape-html/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/etag/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/express/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/finalhandler/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/forwarded/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/fresh/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/function-bind/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/get-intrinsic/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/get-proto/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/gopd/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/has-symbols/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/hasown/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/http-errors/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/iconv-lite/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/inherits/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/ipaddr.js/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/kareem/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/math-intrinsics/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/media-typer/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/memory-pager/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/merge-descriptors/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/methods/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/mime-db/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/mime-types/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/mime/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/mongodb-connection-string-url/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/mpath/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/mquery/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/mquery/node_modules/debug/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/negotiator/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/object-inspect/LICENSE filter=lfs diff=lfs merge=lfs -text
*.markdown filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/on-finished/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/parseurl/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/path-to-regexp/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/proxy-addr/LICENSE filter=lfs diff=lfs merge=lfs -text
*.editorconfig filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/range-parser/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/raw-body/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/safe-buffer/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/safer-buffer/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/send/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/send/node_modules/encodeurl/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/serve-static/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/setprototypeof/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/side-channel-list/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/side-channel-map/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/side-channel-weakmap/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/side-channel/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/sparse-bitfield/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/statuses/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/toidentifier/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/type-is/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/unpipe/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/utils-merge/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/vary/LICENSE filter=lfs diff=lfs merge=lfs -text
