*.env filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/.bin/mime filter=lfs diff=lfs merge=lfs -text
*.cmd filter=lfs diff=lfs merge=lfs -text
*.ps1 filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/@mongodb-js/saslprep/LICENSE filter=lfs diff=lfs merge=lfs -text
*.mjs filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/@types/webidl-conversions/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/@types/whatwg-url/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/accepts/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/array-flatten/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/body-parser/LICENSE filter=lfs diff=lfs merge=lfs -text
*.cjs filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/bytes/LICENSE filter=lfs diff=lfs merge=lfs -text
*.eslintrc filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.nycrc filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/call-bind-apply-helpers/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/call-bound/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/content-disposition/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/content-type/LICENSE filter=lfs diff=lfs merge=lfs -text
*.npmignore filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/cookie/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/debug/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/debug/Makefile filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/depd/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/destroy/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/dotenv/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/dunder-proto/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/ee-first/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/encodeurl/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/es-define-property/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/es-errors/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/es-object-atoms/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/escape-html/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/etag/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/express/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/finalhandler/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/forwarded/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/fresh/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/function-bind/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/get-intrinsic/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/get-proto/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/gopd/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/has-symbols/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/hasown/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/http-errors/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/iconv-lite/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/inherits/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/ipaddr.js/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/kareem/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/math-intrinsics/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/media-typer/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/memory-pager/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/merge-descriptors/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/methods/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/mime-db/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/mime-types/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/mime/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/mongodb-connection-string-url/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/mpath/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/mquery/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/mquery/node_modules/debug/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/negotiator/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/object-inspect/LICENSE filter=lfs diff=lfs merge=lfs -text
*.markdown filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/on-finished/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/parseurl/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/path-to-regexp/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/proxy-addr/LICENSE filter=lfs diff=lfs merge=lfs -text
*.editorconfig filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/range-parser/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/raw-body/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/safe-buffer/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/safer-buffer/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/send/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/send/node_modules/encodeurl/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/serve-static/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/setprototypeof/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/side-channel-list/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/side-channel-map/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/side-channel-weakmap/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/side-channel/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/sparse-bitfield/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/statuses/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/toidentifier/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/type-is/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/unpipe/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/utils-merge/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/vary/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/.bin/color-support filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/.bin/mkdirp filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/.bin/node-pre-gyp filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/.bin/nopt filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/.bin/rimraf filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/.bin/semver filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/@mapbox/node-pre-gyp/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/@mapbox/node-pre-gyp/bin/node-pre-gyp filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/abbrev/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/agent-base/node_modules/debug/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/ansi-regex/license filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/aproba/LICENSE filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/bcrypt/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/bcrypt/Makefile filter=lfs diff=lfs merge=lfs -text
*.gyp filter=lfs diff=lfs merge=lfs -text
*.node filter=lfs diff=lfs merge=lfs -text
*.cc filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/brace-expansion/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/chownr/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/color-support/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/concat-map/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/console-control-strings/LICENSE filter=lfs diff=lfs merge=lfs -text
*.md~ filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/delegates/License filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/delegates/Makefile filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/detect-libc/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/fs-minipass/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/fs-minipass/node_modules/minipass/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/fs.realpath/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/gauge/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/glob/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/has-unicode/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/https-proxy-agent/node_modules/debug/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/inflight/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/is-fullwidth-code-point/license filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/make-dir/license filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/make-dir/node_modules/.bin/semver filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/make-dir/node_modules/semver/LICENSE filter=lfs diff=lfs merge=lfs -text
*.bnf filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/minimatch/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/minipass/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/minizlib/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/minizlib/node_modules/minipass/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/mkdirp/LICENSE filter=lfs diff=lfs merge=lfs -text
*.gypi filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.gitkeep filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/nopt/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/npmlog/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/object-assign/license filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/once/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/path-is-absolute/license filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/readable-stream/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/rimraf/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/semver/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/string-width/license filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/string_decoder/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/strip-ansi/license filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/tar/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/util-deprecate/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/wide-align/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/wrappy/LICENSE filter=lfs diff=lfs merge=lfs -text
/backend_for_e-commecrce_site/node_modules/yallist/LICENSE filter=lfs diff=lfs merge=lfs -text
